

<head>
   {{> elements/head_tag}}

</head>
{{!-- //animsition --}}
<body class=""> 
    <div class="page-wrapper">
      {{> elements/header}}


        <!-- PAGE CONTAINER-->
        <div class="page-container">
            {{> elements/headers/header_desktop}}
           
            <!-- MAIN CONTENT-->
             {{{body}}}
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
         {{>elements/footers}}
    </div>

    {{> elements/body_script}}

</body>

</html>
<!-- end document-->
