<!DOCTYPE html>
<html lang="en">

<head>

    {{> elements/head_tag}}
</head>

<body>

    <!--================Login Box Area =================-->
    <section class="login_box_area section-margin">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Điền thông tin nhận hàng</h3>
                        <form class="row login_form" action="/users/mua_hang/ket_qua_thanh_toan" method="post"
                            id="contactForm">
                            {{#if hasErrors}}
                            <div class="col-md-12 form-group">
                                <label type="text" id="err" name="name">
                                    <font color="red">
                                        MESS: {{messages}}
                                    </font>
                                </label>
                            </div>
                            {{/if}}

                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="pass" name="name"
                                    placeholder="Tên người nhận" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Tên người nhận'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="pass" name="address"
                                    placeholder="Đại chỉ người nhận" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Địa chỉ người nhận'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="pass" name="phone"
                                    placeholder="Đại chỉ người nhận" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'SĐT người nhận'">
                            </div>
                            <div class="col-md-12 form-group">
                              <button type="submit" value="submit"><a href="/users/mua_hang/xac_nhan" style="color: rgb(0, 0, 0); font-size:medium">Xác nhận </a></button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->

    <script href=".../public/js/main.js">
    </script>

    {{> elements/footers}}


    {{> elements/body_script}}

</body>

</html>