<!DOCTYPE html>
<html lang="en">

<head>
  <style>

  </style>
  {{> elements/head_tag}}
</head>

<body>

  <!-- ================ start banner area ================= -->

  <!-- ================ end banner area ================= -->

  <!--================Order Details Area =================-->
  <section class="order_details section-margin--small">
    <div class="container">
      <p class="text-center billing-alert">Cảm ơn! chúng tôi đã xác nhận đơn hàng</p>
    
  <p align="center">
    <button type="submit" style="margin-left:auto;margin-right:auto;display:block;"
      value="submit" class="button button-login w-30"><a href="/" style="color:rgba(240, 248, 255, 0.719);"">Tiếp tục mua hàng</a></button>
  </p>


  <!--================End Order Details Area =================-->


  {{> elements/footers}}


  {{> elements/body_script}}

</body>

</html>