<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> elements/head_tag}}
</head>
<body>

  {{> elements/header}}

  {{> elements/main_content}}


  {{> elements/footers}}


  {{> elements/body_script}}
 
</body>
</html>