<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> elements/head_tag}}
</head>
<body>

  {{> elements/header}}

  
  <!--================Tracking Box Area =================-->
  <section class="tracking_box_area section-margin--small">
      <div class="container">
          <div class="tracking_box_inner">
              <p>Nhập ID của đơn hàng của bạn, kiểm tra Email sử dụng để giao dịch.</p>
              <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                  <div class="col-md-12 form-group">
                      <input type="text" class="form-control" id="order" name="order" placeholder="Order ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Order ID'">
                  </div>
                  <div class="col-md-12 form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Billing Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'">
                  </div>
                  <div class="col-md-12 form-group">
                      <button type="submit" value="submit" class="button button-tracking">Track Order</button>
                  </div>
              </form>
          </div>
      </div>
  </section>
  <!--================End Tracking Box Area =================-->


  {{> elements/footers}}


  {{> elements/body_script}}
 
</body>
</html>