<html>

<head>
    <style>
        body {
            background: #ececec;
        }

        .button {
            display: block;
            max-width: 300px;
            margin: auto;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            border-bottom: 1px solid #ccc;
            color: #3F51B5;
            padding-bottom: 8px
        }

        .container {
            margin: auto;
            width: 350px;
            text-align: center;
        }

        .listFlex {
            display: flex;
            justify-content: center;
        }

        img {
            width: 100%;
        }
    </style>
    {{> elements/head_tag}}
</head>

<body>
    <div class="container">
        <h3>User Infomation</h3>
        <h2>Phung Quoc Viet</h2>
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/pdJfzx9/profile-picture.jpg" alt="profile-picture"
                border="0" /></a>
        <h4>About Me</h4>
        <p>Hi, I'm VIet, I have a huge passion for web-development and programming. I love to learn and thrive from
            challenges.</p>
        <h4>Infomation</h4>
        <div class="listFlex">
            <div>
                <ul>
                    <li>Email: {{email}}</li>
                    <li>Fullname: {{fullname}}</li>
                    <li>Address: {{address}}</li>
                    <li>Phone: {{phone}}</li>
                </ul>
            </div>
        </div>
        <div>
            <button type="submit" value="submit"> <a href="/profile_edit">Thay Đổi Thông Tin</a> </button>
            <button type="submit" value="submit"> <a href="/users/tai_khoan/change_password">Đổi mật khẩu</a> </button>
        </div>

        <br></br>

        {{> elements/footers}}


        {{> elements/body_script}}
</body>

</html>