<!--================ Start Header Menu Area =================-->
<header class="header_area">
  <script type="text/javascript">
    if (sessionStorage.getItem('soLuongGioHang') == null) {
      document.getElementById('soLuongGioHang').innerHTML = '0';
      sessionStorage.setItem('soLuongGioHang', '0');
    }
    else
      document.getElementById('soLuongGioHang').innerHTML = sessionStorage.getItem('soLuongGioHang');
  </script>
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="/"><img src="img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Trang chủ</a></li>
            <li class="nav-item submenu dropdown">
              <a href="/users" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Sản Phẩm</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/users/san_pham/danh_muc_san_pham/1">Danh Mục Sản
                    Phẩm</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/users/san_pham/danh_muc_san_pham/san_pham_1">Chi Tiết
                    Sản Phẩm</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/mua_hang/thanh_toan">Thanh Toán</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/mua_hang/xac_nhan">Xác Nhận Đơn Hàng</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/mua_hang/gio_hang">Giỏ Hàng</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Blog Details</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Tài Khoản/Đăng Nhập</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/users/tai_khoan/dang_nhap">Đăng Nhập</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/tai_khoan/dang_ky">Đăng Kí</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/tai_khoan/theo_doi_don_hang">Theo Dõi Đơn Hàng</a>
                </li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/users/lien_he">Liên Hệ</a></li>

            {{#if isAuthenticated}}
            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

            {{/if}}

          </ul>

          <ul class="nav-shop">
            <li class="nav-item"><a href="/users/tim_kiem">
                  <button><i class="ti-search"></i></button>
              </a></li>
            <li class="nav-item"><a href="/users/mua_hang/gio_hang"><button><i class="ti-shopping-cart"></i><span
                    class="nav-shop__circle" id="soLuongGioHang"></span></button> </a></li>
            {{!-- <li class="nav-item"><a class="button button-header" href="/users/san_pham/danh_muc_san_pham">Mua Ngay</a></li> --}}
            {{#if isAuthenticated}}
            <li class="nav-item"><a id="username">{{usr}} </a></li>

            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <script href=".../routes/users.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</header>
<!--================ End Header Menu Area =================-->