  <!-- ================ offer section start ================= -->
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1"
      data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>Giảm Giá 0% </h3>
              <h4>Shop Chất Lượng</h4>
              <p>Bán rẻ lấy lời đâu mà làm ăn</p>
              <a class="button button--active mt-3 mt-xl-4" href="#">Mua Ngay Và Luôn</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= -->