<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> elements/head_tag}}
</head>
<body>

  {{> elements/header}}
   <h1>Chúc bạn tìm kiếm zui zẻ =))</h1>
  {{> elements/footers}}


  {{> elements/body_script}}
 
</body>
</html>